* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
  cursor: none !important;
  background: var(--bg);
}
/* Hide system cursor */
a,
button {
  cursor: none !important;
}

/* FONTS */
/* Gesist Mono */
.geist-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Instrument Serif */
.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --bg: #f3f0b3;
  --dark: #1e1e1e;
  --black: black;
  --grey: #6b6b6b;
  --modal-card: #2b2b2b;
  --primary-color: white;
  --geist-font: "Geist Mono", monospace;
  --serif-font: "Instrument Serif";
  --serif-italic-font: "Instrument Serif, serif";
  /* 1440 - 1024 */
  --fontsize-20: clamp(1.125rem, 0.8173rem + 0.4808vw, 1.25rem); /* 20-18 */
  --fontsize-25: clamp(1.25rem, 0.4808rem + 1.2019vw, 1.5625rem); /* 25-20 */
  --fontsize-18: clamp(1rem, 0.6923rem + 0.4808vw, 1.125rem); /* 18-16 */
  --fontsize-16: clamp(0.875rem, 0.5673rem + 0.4808vw, 1rem); /* 16-14 */
}
/* Custom cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background: black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.15s ease-out,
    width 0.25s ease,
    height 0.25s ease,
    background 0.25s ease;
  z-index: 9999;
  mix-blend-mode: normal; /* makes it visible on both light/dark backgrounds */
}

/* Hover state for clickable items */
.custom-cursor.hover {
  width: 30px;
  height: 30px;
  background-color: var(--bg);
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(1.05);
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
.nav-pill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38vw;
  background: var(--modal-card);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  opacity: 1;
}
.logo {
  font-size: var(--fontsize-25);
  font-family: var(--serif-italic-font);
  font-style: italic;
}
.nav-btn {
  text-decoration: none;
  background: #6b6b6b;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--geist-font);
}
.nav-btn:hover {
  background: var(--dark);
}
.asterisk img {
  width: 3vw;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* BOTTOM PAGE SECTION */
.page-bottom {
  margin-top: auto;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  padding-bottom: 0;
  width: 100%;
}

.hero h1 {
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-family: var(--serif-font);
  font-weight: 400;
  position: relative;
  opacity: 1;
}
.hero .badge {
  position: absolute;
  background-color: var(--black);
  color: var(--primary-color);
  padding: 1rem 0.3rem;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8vw;
  font-family: var(--serif-italic-font);
  font-style: italic;
  text-transform: uppercase;
  left: 60%;
}
.circle-btn {
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  border: none;
  margin-right: 5rem;
  background-color: var(--dark);
  color: var(--primary-color);
  font-size: var(--fontsize-18);
  cursor: pointer;
  font-family: var(--geist-font);
  opacity: 1;
}

/* DETAILS SECTION */
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  opacity: 1;
}

/* DESCRIPTION */
.description {
  max-width: 31vw;
  text-align: justify;
  font-family: var(--geist-font);
  font-size: var(--fontsize-16);
  line-height: 22px;
}

/* CONTACT CARD */
.contact-card {
  background: #2b2b2b;
  color: white;
  padding: 1.5rem;
  width: 25vw;
  border-radius: 1rem;
}

.email-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.email-info p {
  font-size: var(--fontsize-20);
  opacity: 0.9;
  margin-bottom: 0.3rem;
  font-family: var(--serif-italic-font);
  font-style: italic;
}
.email-info span {
  font-size: 14px;
  opacity: 1;
  font-family: var(--geist-font);
  font-weight: 400;
}
hr {
  margin: 0.7rem 0;
}
.contact-card a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: var(--fontsize-20);
  opacity: 0.9;
  font-family: var(--serif-italic-font);
  font-style: italic;
}
.social-link {
  display: flex;
  align-items: end;
}

/* PROJECTS MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal-card {
  background: var(--modal-card);
  color: var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
  width: 320px;
}

.modal-header {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-family: var(--geist-font);
  font-size: var(--fontsize-16);
}

.modal-card button {
  background: none;
  color: var(--primary-color);
  border: none;
  display: flex;
  font-size: var(--fontsize-20);
  width: 100%;
  justify-content: end;
  cursor: pointer;
}

.projects-list li {
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid #444;
}
.projects-list li span {
  display: flex;
  align-items: center;
  font-size: var(--fontsize-20);
  justify-content: space-between;
  font-family: var(--serif-font);
}
.projects-list li span img {
  width: 1.6vw;
}
.list-links {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}
.projects-list a {
  color: white;
  text-decoration: none;
  font-family: var(--geist-font);
  font-size: 0.9vw;
}
.code-link {
  color: var(--primary-color);
  position: relative;
  transition: 0.3s all;
}
.code-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--primary-color);
  transition: width 0.6s ease;
}
.code-link:hover::after {
  width: 100%;
}

/* FOOTER */
.footer {
  text-align: center;
  padding-top: 0rem;
  font-family: var(--geist-font);
  font-weight: 400;
  font-size: 0.9vw;
}

/* DESKTOP 1024PX BREAKPOINT */
@media (max-width: 1024px) {
  :root {
    /* 1024 - 768 */
    --fontsize-18: clamp(0.875rem, 0.5rem + 0.7813vw, 1rem); /* 16-14 */
    /* 1024 - 576 */
    --fontsize-14: clamp(0.625rem, 0.3036rem + 0.8929vw, 0.875rem); /* 14-10 */
  }
  /* NAV */
  .nav-btn {
    font-size: var(--fontsize-14);
  }
  .nav-pill {
    width: 43vw;
  }
  .asterisk img {
    width: 4vw;
  }
  /* HERO */
  .hero h1 {
    font-size: clamp(3rem, 6vw, 5rem);
  }
  .hero .badge {
    font-size: 1vw;
    left: 63%;
  }
  .circle-btn {
    width: 14vw;
    height: 14vw;
  }
  /* PROJECT MODAL */
  .projects-list a {
    font-size: 1.3vw;
  }
  .projects-list li span img {
    width: 2vw;
  }
  /* DETAILS SECTION */
  .description {
    max-width: 38vw;
  }
  /* CONTACT CARD */
  .contact-card {
    width: 30vw;
  }
  .email-info span {
    font-size: var(--fontsize-14);
  }
  /* FOOTER */
  .footer {
    font-size: 1.5vw;
  }
}
/* IPAD 768PX BREAKPOINT */
@media (max-width: 768px) {
  :root {
    /* 768 - 576 */
    --fontsize-18: clamp(0.75rem, 0.375rem + 1.0417vw, 0.875rem); /* 14-12 */
    --fontsize-16: clamp(0.75rem, 0.375rem + 1.0417vw, 0.875rem); /* 14-12 */
    --fontsize-20: clamp(1rem, 0.625rem + 1.0417vw, 1.125rem); /* 18-16 */
  }
  /* NAV */
  .nav {
    padding: 1rem 2rem;
  }
  .nav-pill {
    width: 50vw;
  }
  .asterisk img {
    width: 5vw;
  }
  /* HERO */
  .hero {
    padding: 5rem 2rem;
    gap: 1rem;
  }
  .hero .badge {
    font-size: 1.1vw;
    left: 63%;
  }
  .circle-btn {
    width: 15vw;
    height: 15vw;
  }
  /* PROJECT MODAL */
  .projects-list a {
    font-size: 1.7vw;
  }
  .projects-list li span img {
    width: 2.7vw;
  }
  /* DETAILS SECTION */
  .details {
    padding: 1.5rem 2rem;
  }
  .description {
    max-width: 40vw;
  }
  /* CONTACT CARD */
  .contact-card {
    width: 33vw;
  }
  .social-link img {
    width: 3vw;
    height: 3.5vw;
  }
  /* FOOTER */
  .footer {
    font-size: 2vw;
  }
}
/* MOBILE 576PX BREAKPOINT */
@media (max-width: 576px) {
  :root {
    /* 576 - 390 */
    --fontsize-25: clamp(1rem, 0.4758rem + 2.1505vw, 1.25rem); /* 20-16 */
  }
  /* NAV */
  .nav-pill {
    width: 62vw;
  }
  .asterisk img {
    width: 5.5vw;
  }
  /* HERO */
  .hero {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    padding: 5rem 2rem;
    padding-bottom: 2rem;
  }

  .hero .badge {
    font-size: 1.5vw;
    left: 63%;
  }
  .circle-btn {
    width: 24vw;
    height: 24vw;
    margin-left: 50vw;
  }
  /* MODAL */
  .modal-card {
    width: 70vw;
  }
  .projects-list a {
    font-size: 2.2vw;
  }
  .projects-list li span img {
    width: 3.5vw;
  }
  /* DETAILS SECTION */
  .details {
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
  }
  .description {
    max-width: 100%;
  }
  /* CONTACT CARD */
  .contact-card {
    width: 70%;
  }

  .social-link img {
    width: 4vw;
    height: 4.5vw;
  }
  /* FOOTER */
  .footer {
    font-size: 2.5vw;
    padding-top: 0.8rem;
  }
}
